Client:
Username/ID

hostet game. 
	wird in lobby liste hinzugefügt
	kann spieler einladen

joint game:
	wird in spielerliste 



Server:


Menüs:
	Auswahl:
		Local Game -> Normaler Start
		Host Game -> Server erstellen(Einstellungsmenü) -> Lobby
		Join Game -> Direct Connect/Lobbysuche  -> Lobby



Object ID
	Host sendet Nachricht an Server, Server vergibt ID?
	Jeder Client hat Liste mit möglichen IDs?
		Client hat Startnummer vom server, rest generiert er selbst
Client Number (1,2,3,4)
Input ändern (PlayerIndex)

Wer spawnt Gegner/Hindernisse? Server oder Client
	Ein HostClient verwaltet allgemeine Spawns

Nachrichten:

MessageType
	Object Update

MessageType
	GameState	
	ObjectUpdate ->Objekt ID
		Spawn

			-Object Type
			-message.writeallFields/readall...
        UpdatePosition
			-new Position
        UpdateRotation
			-new Rotation
        Despawn
			-Object Type
        StateChange
		Collision/Damage?



Matchmaking:
liste mit lobbys

liste mit allen Spielern(Seiten/Suche)
	können eingeladen werden